.movie-app {
  display: grid;
  column-gap: 10 px;
  grid-template-areas: 
    "product title"
    'product price'
    'product description';
  width: 50vw;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.card {
  display: flex;
  background-color: black;
  color: white;
}

.title {
  grid-area: title;
  justify-self: center;
  margin: 10px 0px 10px 0px;
  border: 0px;
  padding: 0px;
}

.image {
  grid-area: image;
  margin: 10px, 0px, 10px, 10px;
  border: 0px;
  padding: 0px;
}

.description {
  grid-area: description;
  margin: 0px, 0px, 10px, 0px;
  border: 0px;
  padding: 0px;
  text-align: justify;
}

.price {
  grid-area: price;
  justify-self: center;
  margin: 10px, 0px, 10px, 0px;
  border: 0px;
  padding: 0px;
}

.data + .data {
  margin-left: 10px;
}


